<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="G1ANT.Manual.Sync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <G1ANT.Manual.Sync.Properties.Settings>
            <setting name="CopyrightHeader" serializeAs="String">
                <value>/*
 *    Copyright (C) {company}, All rights reserved
 *    Solution {solution}, Project {project}
 *    {website}
 *
 *    Licensed under the {license} license.
 *    See License.txt file in the project root for full license information.
 *
 */</value>
            </setting>
            <setting name="ManualHeader" serializeAs="String">
                <value>

| Name | Description | Addon |
| ---- | ----------- | ----- |
</value>
            </setting>
            <setting name="DefaultWebsiteUrl" serializeAs="String">
                <value>www.g1ant.com</value>
            </setting>
            <setting name="DefaultCompany" serializeAs="String">
                <value>G1ANT Ltd</value>
            </setting>
            <setting name="DefaultLicense" serializeAs="String">
                <value>G1ANT</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>G1ANT.Manual.Log</value>
            </setting>
            <setting name="RepositoryUrl" serializeAs="String">
                <value>https://github.com/G1ANT-Robot/</value>
            </setting>
            <setting name="LogLineFormat" serializeAs="String">
                <value>{0:yyyy-MM-dd HH:mm:ss} - {1}</value>
            </setting>
        </G1ANT.Manual.Sync.Properties.Settings>
    </userSettings>
</configuration>